/* Styles for specific and reusable elements */
@import url('variables.css');

/* Nav bar styles */
/* ********************** */
/* Nav bar */
#navbar {
    list-style: none;

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--small-spacing);
    position: relative;
}
.navbar-logo {
    font-size: var(--font-size-xxlarge);
    text-wrap: nowrap;
}
.navbar-logo:hover, a:link, a:visited {
    text-decoration: none;
}
.nav-item {
    display: inline-block;
    padding-bottom: var(--small-spacing);
}
.nav-item, .nav-link {
    padding-right: var(--xsmall-spacing);
}
.nav-link {
    white-space: nowrap;
}
#search-head {
    text-align: left;
}

/* Drop down */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: flex;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown-item {
    font-size: var(--font-size-small);
    white-space: nowrap;
    text-align: center;
    padding: 0.2em;
}
/* ********************** */


/* Reusable table styles */
/* ********************** */
/* text tables */
.text-table td {
    font-family: var(--text-font);
    padding: var(--xsmall-spacing);
}
.text-table td:first-of-type {
    text-align: right;
    font-weight: bold;
}
.text-table td:not(:first-of-type) {
    text-align: left;
}
/* *** */
#statstics-text-table td {
    vertical-align: top;
}
/* *** */
#about-DOI-table td {
    vertical-align: bottom;
}

/* planet table */
#table-container-planet thead:not(:first-of-type) {
    font-size: var(--font-size-base);
}


/* suggestion table */
#suggestion-tables td {
    vertical-align: top;
}
.suggestion-table {
    margin: var(--small-spacing);
}


/* various tables */
.data-table, .suggestion-table {
    white-space: nowrap;
}
.data-table td, .data-table th, .suggestion-table td, .suggestion-table th {
    border: 4px solid var(--data-table-border-colour);
}
.data-table td, .suggestion-table td {
    font-size: var(--font-size-base);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.data-table th, .suggestion-table th {
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.data-table thead:first-of-type {
    font-size: var(--font-size-xlarge);
}
.data-table thead:not(:first-of-type), .suggestion-table th {
    font-size: var(--font-size-large);
}
.data-table td.catagory {
    font-weight: bold;
    background-color: var(--data-table-cat-bg-colour);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
/* ********************** */


/* Specific ID styles */
/* ********************** */
/* Images */
/* ********************** */
#img-error {
    width: 40%
  }

#fig-pie {
    width: 25%;
}

#fig-bars, #fig-pies {
    width: 60%;
}
/* ********************** */
/* ********************** */


/* ... */
/* ********************** */

/* ********************** */
