/* Define common css variables */

/* Colours */
:root {
    --primary-colour: ;
    --secondary-colour: #151922;
    --background-colour: #1d2230;
    /* --text-colour: aliceblue; */
    --text-colour: #d9e3eb;
    --link-colour: var(--text-colour);
    --link-hover-colour: var(--text-colour);
    --table-background-colour: #191d28;
    --data-table-border-colour: rgb(14, 15, 28);
    --data-table-cat-bg-colour: #1c202a;
}


/* Fonts */
:root {
    --heading-font: 'Audiowide', sans-serif;
    --text-font: 'Trebuchet MS', sans-serif;
    /* --text-font: "Lucida Console", Monospace; */
    
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 2rem;
}


/* Spacing */
:root {
    --xsmall-spacing: 0.25rem;
    --small-spacing: 0.75rem;
    --base-spacing: 1.25rem;
    --large-spacing: 2rem;
    --xlarge-spacing: 4rem;
    --default-margin-bottom: 1.5rem;
}
