html, body {
  height: 100%;
  width: 100%;
}
article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
body {
  background-color: #1d2230;
  font-family: Audiowide, sans-serif;
  color: #f0f8ff;

  /* stop padding expanding content space */
  box-sizing: border-box;
}
main {
  flex-grow: 1;
}
header, main, footer {
  flex-shrink: 0;
}

#navbar, .search-icon, footer, .dropdown-content {
  background-color: #151922;
}

.center, .page-heading, [class|="img"] [id|="about"] {
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  }

.page-heading {
  margin: 30px;
  font-size: 1.3em;
}

p {
  font-family: Lucida Console, Monospace;
  line-height: 16pt;
  font-size: 1em;
  margin-bottom: 26pt;
  }

h1, p, h2, table, h3, div {
  text-align: center;
}

#statistics h2 {
  margin-bottom: 35px;
}
#statistics > div:first-of-type > h2 {
  margin-top: 40px;
}
#statistics > div:not(:first-of-type) > h2 {
  margin-top: 80px;
}

#fig2-description td {
  font-family: Lucida Console, Monospace;
  vertical-align: top;
  padding: 5px;
  line-height: 16pt;
  margin-bottom: 26pt;
}
#fig2-description td:first-of-type {
  text-wrap: nowrap;
  text-align: right;
  font-weight: bold;
}
#fig2-description td:not(:first-of-type) {
  text-align: left;
}

#navbar {
  list-style: none;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
}
#navbar > ul {
  margin: 0;
  padding: 0;
}
.navbar-logo {
  font-size: 2em;
  text-wrap: nowrap;
}
.navbar-logo:hover, a:link, a:visited {
  text-decoration: none;
}
.nav-item {
  display: inline-block;
  padding-bottom: 10px;
}
.nav-item, .nav-link {
  padding-right: 8px;
}
.nav-link {
  white-space: nowrap;
}
#search-head {
  text-align: left;
}

.padded, table, main, [class|="img"] {
  margin: 20px;
}

a:link, a:visited {
  color: aliceblue;
}
a:hover, a:active {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  /* width: auto; */
}
[id|="table-container"] {
  overflow-x:auto;
  width: 100%;
}

#table-container-planet thead:not(:first-of-type) {
  font-size: 1em;
}

#suggestion-tables td {
  vertical-align: top;
}
.suggestion-table {
  margin: 10px;
}

.data-table, .suggestion-table {
  white-space: nowrap;
}
.data-table td, .data-table th, .suggestion-table td, .suggestion-table th {
  background-color: #191d28;
  border: 4px solid rgb(14, 15, 28);
}
.data-table td, .suggestion-table td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.data-table th, .suggestion-table th {
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.data-table thead:first-of-type {
  font-size: 1.5em;
}
.data-table thead:not(:first-of-type), .suggestion-table th {
  font-size: 1.2em;
}
.data-table td.catagory {
  font-weight: bold;
  background-color: #1c202a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: flex;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.dropdown-item {
  white-space: nowrap;
  text-align: center;
  padding: 2px;
}

/* images */
#img-error {
  width: 40%
}

#fig-pie {
  width: 25%;
}

#fig-bars, #fig-pies {
  width: 60%;
}

/* for computer */
@media screen and (min-width: 501px) {
}

/* for small screens */
@media screen and (max-width: 500px) {
  .center-tables {
    justify-content: left;
  }

  #img-error {
    width: 100%;
  }

  .data-table th, .data-table td, .suggestion-table th, .suggestion-table td {
    padding: 5px;
    font-size: 0.7em;
  }
}