body {
  margin: 0px;
  /* margin-bottom: 100px; */
  background-color: #1d2230;
  font-family: Audiowide, sans-serif;
  color: #f0f8ff;

  min-height: 100vh;
}


#navbar, .search-icon, #footer, .dropdown-content {
  background-color: #151922;
}

.center, .page-heading {
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  }

.center-tables {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* [class|="txt"] {
  color: #f0f8ff;
} */

.txt-default, p {
  font-family: Lucida Console, Monospace;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-size: medium; */
  font-size: 1em;
  }

.txt-center, h1, p, h2, table {
  text-align: center;
}

h2.padded-top-bottom {
  padding-top: 30px;
  padding-bottom: 20px;
}

#navbar {
  list-style: none;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

#navbar > ul {
  margin: 0;
  padding: 0;
}

.navbar-logo {
  /* font-size: xx-large; */
  font-size: 2em;
  /* text-wrap: nowrap; */
}
.navbar-logo:hover, a:link, a:visited {
  text-decoration: none;
  padding-right: 10px;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  padding-right: 10px;
}

.search-container {
  padding-right: 20px;

}

.padded, table, .page-heading, #content {
  padding: 20px;
}

a:link, a:visited {
  color: aliceblue;
}
a:hover, a:active {
  text-decoration: underline;
}

/* #footer {
  display: grid, flex;
  justify-content: center;
  left: 0;
  width: 100%;
  opacity: 0.5;
} */

#footer {
  display: grid, flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; /* Default to non-fixed */
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: auto;
}

.table-newplanets, .table-systemupdates, .table-suggestions, .table-home {
  overflow-x:auto;
  width: 100%;
}

td, th {
  background-color: #191d28;
  border: 4px solid rgb(14, 15, 28);
}
td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
td.thick {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
th {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
td.nowrap {
  white-space: nowrap;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
}

table.suggestions {
  margin: 10px;
}

/* images */
#img-error {
  width: 40%
}

/* for computer */
@media screen and (min-width: 501px) {
  #footer {
    position: fixed;
    bottom: 0;
    opacity: 0.5;
  }
  #footer:hover {
    opacity: 1;
  }

  #content {
    margin-bottom: 100px;
  }
}

/* for small screens */
@media screen and (max-width: 500px) {
  .center-tables {
    justify-content: left;
  }

  #img-error {
    width: 100%;
  }

  #footer {
    position: relative; /* Ensure it's non-fixed for mobile */
    opacity: 1;
    text-wrap: wrap;
  }

  #content {
    margin-bottom: 0px;
  }
}