.center {
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /* width: 100%; */
  }

.center-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-wrap: wrap; */
}

[class|="txt"] {
  color: #f0f8ff;
}

.txt-default, p {
  font-family: Lucida Console, Monospace;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: medium;
  }

.txt-center, h1, p, h2, table {
  text-align: center;
}

.txt-padded {
  padding: 20px;
}

h2.padded-top-bottom {
  padding-top: 30px;
  padding-bottom: 20px;
}

[class^="navbar"] {
  list-style: none;
  background-color: #151922;
}

.navbar-logo {
  font-size: xx-large;
  padding-right: 20px;
}
.navbar-logo:hover {
  text-decoration: none;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.padded, table {
  padding: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: aliceblue;
}
a:hover, a:active {
  text-decoration: underline;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #151922;
  opacity: 0.5;
}
#footer:hover {
  opacity: 1;
}

body {
  margin-bottom: 100px;
  background-color: #1d2230;
  font-family: Audiowide, sans-serif;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.table-home {
  width: 100%;
}
td, th {
  background-color: #191d28;
  border: 4px solid rgb(14, 15, 28);
}
td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
td.thick {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
th {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
td.nowrap {
  white-space: nowrap;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #151922;
  /* background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; */
}

.search-container {
  float: right;
  margin-right: 16px;
}
.search {
  background-color: #151922;
}

table.suggestions {
  margin: 10px;
}