{% extends "layout.html" %}

{% block title %}
    Declassified
{% endblock %}

{% block pagehead %}
    Declassified Planets
{% endblock %}

{% block main %}
{% if planets %}
<div id="table-container-declassed-planets">
    <table class="data-table">
        <thead>
            <tr>
                <th class="table-header" colspan="4">👾Declassified Planets👾</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="column-header"></th>
                <th class="column-header">Planet Name</th>
                <th class="column-header">Host Name</th>
                <th class="column-header">Public Discovery Date</th>
            </tr>
        </thead>
        <tbody>
            {% for planet in planets %}
            <tr>
                <td class="table-data">🌑</td>
                <td class="table-data"><a href="{{ url_for('system', stellar_body=planet.name) }}">{{ planet.name }}</a></td>
                <td class="table-data"><a href="{{ url_for('system', stellar_body=planet.hostname) }}">{{ planet.hostname }}</a></td>
                <td class="table-data">{{ planet.disc_pubdate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No Planets have been declassified since the making of this website...</p>
{% endif %}
{% endblock %}