{% extends "layout.html" %}

{% block title %}
    Declassified
{% endblock %}

{% block pagehead %}
    Declassified Planets
{% endblock %}

{% block main %}
{% if planets %}
<div id="table-container-declassed-planets">
    <table class="data-table">
        <thead>
            <tr>
                <th colspan="4">👾Declassified Planets👾</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th></th>
                <th>Planet Name</th>
                <th>Host Name</th>
                <th>Public Discovery Date</th>
            </tr>
        </thead>
        <tbody>
            {% for planet in planets %}
            <tr>
                <td class="nowrap">🌑</td>
                <td class="nowrap"><a href="{{ url_for('system', stellar_body=planet.pl_name) }}">{{ planet.pl_name }}</a></td>
                <td class="nowrap"><a href="{{ url_for('system', stellar_body=planet.hostname) }}">{{ planet.hostname }}</a></td>
                <td>{{ planet.disc_pubdate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No Planets have been declassified since the making of this website...</p>
{% endif %}
{% endblock %}