{% extends "layout.html" %}

{% block title %}
    Discoveries
{% endblock %}

{% block main %}
    <img class="center" src="static/exoplanet_systems_by_star_count.png" alt="Exoplanet Systems by Star Count Nested Bar Charts">
    <img class="center" src="static/most_common_exoplanet_systems.png" alt="Most Common Exoplanet Systems Pie Charts">
    <img class="center" src="static/occurance_of_exoplanetary_systems_by_star_system_type.png" alt="Occurance of Exoplanetary Systems by Star System Type Pie Chart">
{% endblock %}