{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block pagehead %}
    Home
{% endblock %}

{% block main %}
<div id="table-container-home">
    <table class="data-table">
        <thead>
            <tr>
                <th colspan="2">🛰️ CONFIRMED DISCOVERIES 🛰️</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>🌌 Planetary Systems 🌌</th>
                <th>🌍🪐 Planets 🪐🌏</th>
            </tr>
        </thead>
        <tr>
            <td>✨ {{ exo_systems }} ✨</td>
            <td>✨ {{ planets }} ✨</td>
        </tr>
    </table>
</div>
{% endblock %}