{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block pagehead %}
    Home
{% endblock %}

{% block main %}
<div class="center">
    <table>
        <thead>
            <tr>
                <th colspan="2"><h2>✨CONFIRMED DISCOVERIES✨</h2></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>🌌 Planetary Systems 🌌</th>
                <th>🌍🪐 Planets 🪐🌏</th>
            </tr>
        </thead>
        <tr>
            <td>{{ exo_systems }}</td>
            <td>{{ planets }}</td>
        </tr>
    </table>
</div>
{% endblock %}