{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block pagehead %}
    Home
{% endblock %}

{% block main %}
<div id="table-container-home">
    <table class="data-table">
        <thead>
            <tr>
                <th class="table-header" colspan="2">🛰️ CONFIRMED DISCOVERIES 🛰️</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="table-header">🌌 Planetary Systems 🌌</th>
                <th class="table-header">🌍🪐 Planets 🪐🌏</th>
            </tr>
        </thead>
        <tr>
            <td class="table-header">✨ {{ exo_systems }} ✨</td>
            <td class="table-header">✨ {{ planets }} ✨</td>
        </tr>
    </table>
</div>
{% endblock %}