<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- consider getting bootstrap -->
        
        <link href="static\icons\solar-system_10462711.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <!-- google font AudioWide -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

        <title>Exoplanetary Systems: {% block title %}{% endblock %}</title>
    </head>

    <body class="txt">
        <nav class="navbar">
            <ul>
                <a class="navbar-logo" href="/">
                    <li class="nav-item"><img class="center" src="static\icons\star_system_white.png" alt="Star system icon" width="30"></li>
                    <li class="nav-item">Exoplanetary Systems</li>
                </a>
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/discoveries">Discoveries</a></li>
                <li class="nav-item"><a class="nav-link" href="/new">New Discoveries</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            </ul>
        </nav>

        <main class="txt-padded">
            {% block main %}{% endblock %}
        </main>

        <footer id="footer" class="txt-default">
            <p>
                Data provided by the <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a>
            </p>
            <!-- <div>
                <img class="center" src="static\star_system_white.png" alt="Star system icon" width="30">
            </div> -->
            <p>
                Created by Rachael Lampard-France
                <a href="https://www.linkedin.com/in/rachael-lampard-france-a5995b195"><img src="static\icons\linkedin_white.png" alt="git hub logo" width="80" style="padding-right: 10px;"></a>
                <a href="https://github.com/rachaellampardfrance"><img src="static\icons\github_icon_white.png" alt="git hub logo" width="30" style="padding-right: 10px;"></a>
            </p>
        </footer>
    </body>
</html>