<div id="table-container-newplanets">
    <table class="data-table">
        <thead>
            <tr>
                <th colspan="6">✨NEW PLANETS✨</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th></th>
                <th>🪐Planet Name🪐</th>
                <th>☀️Host Star☀️</th>
                <th>🌌System🌌</th>
                <th>💫Circumbinary?💫</th>
                <th>📡Public Discovery📡<br>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for planet in new_planets %}
            <tr>
                <td>✨🪐✨</td>
                <td><a href="{{ url_for('planet', planet_name=planet.name) }}">{{ planet.name }}</a></td>
                <td><a href="{{ url_for('star', star_name=planet.hostname) }}">{{ planet.hostname }}</a></td>
                <td><a href="{{ url_for('system', stellar_body=planet.system) }}">{{ planet.system }}</a></td>
                <td>{{ planet.cb_flag }}</td>
                <td>{{ planet.disc_pubdate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
