{% extends "layout.html" %}

{% block title %}
    Planet
{% endblock %}

{% block pagehead %}
    ✨Planet {{ planet.name }}✨
{% endblock %}

{% block main %}
{% if planet.declassified == 'Yes' %}
<p>
    <b>'{{ planet.name }}'</b> was thought to orbit the star <b>'{{ planet.hostname }}'</b>. However, it has since been declassified.
</p>
{% else %}
<p>
    <b>'{{ planet.name }}'</b> orbits the star <a href="{{ url_for('star', star_name=planet.hostname) }}"><b>'{{ planet.hostname }}'</b></a> in the <a href="{{ url_for('system', stellar_body=planet.system) }}"><b>'{{ planet.system }}'</b></a> system, and was discovered in {{ planet.disc_pubdate }}{% if planet.cv_flag == 'Yes' %} However it is considered a controversial discovery{% endif %}.
</p>
<p>
    {% if planet.disc_method != 'Unknown' and planet.disc_instrument %}It was discovered by the {{ planet.disc_method }} method using {% if planet.disc_instrument != 'Multiple Instruments' %}the{% else %}{% endif %} {{ planet.disc_instrument }}.
    {% elif planet.disc_method != 'Unknown' %}It was discovered by {{ planet.disc_method }} method.
    {% elif planet.disc_instrument %}It was discovered with {% if planet.disc_instrument != 'Multiple Instruments' %}the{% else %}{% endif %} {{ planet.disc_instrument }}.
    {% endif %}
</p>
<p>
    {% if planet.orbit_period != 'Unknown' %}{{ planet.name }}'s orbit is thought to take {{ planet.orbit_period }} earth days.{% endif %}
</p>
<p>
    {% if planet.mass != 'Unknown' and planet.radius != 'Unknown' %}In comparison to Earth, it is {{ planet.mass }} times the mass and it's radius is {{ planet.radius }} times that of Earths.
    {% elif planet.mass != 'Unknown' %}Its mass is {{ planet.mass }} times the mass of Earth.
    {% elif planet.radius != 'Unknown' %}Its radius is {{ planet.radius }} times the radius of Earth.
    {% endif %}
</p>
{% endif %}

<div id="table-container-planet">
    <table class="data-table">
        <thead>
            <tr>
                {% if planet.declassified == 'Yes' %}
                <th colspan="12">⛔❗Declassified❗ 🪐{{ planet.name }}🪐 ❗Declassified❗⛔</th>
                {% else %}
                <th colspan="12">🪐{{ planet.name }}🪐</th>
                {% endif %}
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Public Discovery Date</th>
                <th>Circumbinary?</th>
                <th>Controversial?</th>
                <th>Orbit Period<br>(earth days)</th>
                <th>Mass<br>(to earth)</th>
                <th>Radius<br>(to earth)</th>
                <th>Insolation Flux<br>(to earth)</th>
                <th>Equilibirum Temperature<br>(Kelvin)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ planet.disc_pubdate }}</td>
                <td>{{ planet.cb_flag }}</td>
                <td>{{ planet.cv_flag }}</td>
                <td>{{ planet.orbit_period }}</td>
                <td>{{ planet.mass }}</td>
                <td>{{ planet.radius }}</td>
                <td>{{ planet.insol_flux }}</td>
                <td>{{ planet.equlib_temp }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}