{% extends "layout.html" %}

{% block title %}
    New Discoveries
{% endblock %}

{% block main %}
<div class="page-heading">
    <h1>
        ✨Planet {{ planet.name }}✨
    </h1>
</div>

{% if planet.declassified == 'Yes' %}
<p>
    <b>'{{ planet.name }}'</b> was thought to orbit the star <b>'{{ planet.hostname }}'</b>. However, it has since been declassified.
</p>
{% else %}
<p>
    <b>'{{ planet.name }}'</b> orbits the star <b>'{{ planet.hostname }}'</b> and was discovered in {{ planet.disc_pubdate }}{% if planet.cv_flag == 'Yes' %} However it is considered a controversial discovery{% endif %}.
</p>
<p>
    {% if planet.disc_method != 'Unknown' and planet.disc_instrument %}It was discovered by the {{ planet.disc_method }} method using {% if planet.disc_instrument != 'Multiple Instruments' %}the{% else %}{% endif %} {{ planet.disc_instrument }}.
    {% elif planet.disc_method != 'Unknown' %}It was discovered by {{ planet.disc_method }} method.
    {% elif planet.disc_instrument %}It was discovered with {% if planet.disc_instrument != 'Multiple Instruments' %}the{% else %}{% endif %} {{ planet.disc_instrument }}.
    {% endif %}
</p>
<p>
    {% if planet.orbit_period != 'Unknown' %}Its orbit is thought to take {{ planet.orbit_period }} earth days.{% endif %}
</p>
<p>
    {% if planet.mass != 'Unknown' and planet.radius != 'Unknown' %}In comparison to Earth, it is {{ planet.mass }} times the mass and it's radius is {{ planet.radius }} times that of Earths.
    {% elif planet.mass != 'Unknown' %}Its mass is {{ planet.mass }} times the mass of Earth.
    {% elif planet.radius != 'Unknown' %}Its radius is {{ planet.radius }} times the radius of Earth.
    {% endif %}
</p>
{% endif %}

<div class="table-planet">
    <table>
        <thead>
            <tr>
                {% if planet.declassified == 'Yes' %}
                <th colspan="12"><h2>⛔❗Declassified❗ 🪐{{ planet.name }}🪐 ❗Declassified❗⛔</h2></th>
                {% else %}
                <th colspan="12"><h2>🪐{{ planet.name }}🪐</h2></th>
                {% endif %}
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Planet Name</th>
                <th>Host</th>
                <th>Public Discovery Date</th>
                <th>Circumbinary?</th>
                <th>Controversial?</th>
                <th>Orbit Period<br>(earth days)</th>
                <th>Mass<br>(to earth)</th>
                <th>Radius<br>(to earth)</th>
                <th>Insolation Flux<br>(to earth)</th>
                <th>Equilibirum Temperature<br>(Kelvin)</th>
                <!-- <th>Discovery Method</th>
                <th>Discovery Instrument</th> -->

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ url_for('system', stellar_body=planet.pl_name) }}">{{ planet.name }}</a></td>
                <td><a href="{{ url_for('system', stellar_body=planet.hostname) }}">{{ planet.hostname }}</a></td>
                <td>{{ planet.disc_pubdate }}</td>
                <td>{{ planet.cb_flag }}</td>
                <td>{{ planet.cv_flag }}</td>
                <td>{{ planet.orbit_period }}</td>
                <td>{{ planet.mass }}</td>
                <td>{{ planet.radius }}</td>
                <td>{{ planet.insol_flux }}</td>
                <td>{{ planet.equlib_temp }}</td>
                <!-- <td>{{ planet.disc_method }}</td>
                <td>{{ planet.disc_instrument }}</td> -->
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}