{% extends "layout.html" %}

{% block title %}
    Star
{% endblock %}

{% block pagehead %}
    ✨Star {{ star.name }}✨
{% endblock %}

{% block main %}
<div>
    <p>
        {% if star.name == star.system %}
            <b>'{{ star.name }}'</b> is the main star in its system <a href="{{ url_for('system', stellar_body=star.system) }}"><b>'{{ star.name }}'.</b></a>
        {% else %}
            <b>'{{ star.name }}'</b> is found in the <a href="{{ url_for('system', stellar_body=star.system) }}"><b>'{{ star.system }}'</b></a> system.
        {% endif %}
    </p>
</div>

<div id="table-container-star">
    <table class="data-table">
        <thead>
            <tr>
                <th class="table-header" colspan="6">☀️{{ star.name }}☀️</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="column-header-s">Star Type</th>
                <th class="column-header-s">Spectral Class</th>
                <th class="column-header-s">Class heat<br>(0-9)</th>
                <th class="column-header-s">Luminosity Class</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-data">{{ star.full_class_id }}</td>
                <td class="table-data">
                    {% if star.st_class %}
                        {{ star.st_class}}<br>({{ star.heat }} Kelvin)
                    {% endif %}
                </td>
                <td class="table-data">
                    {% if star.sub_class %}
                        {{ star.sub_class }}
                    {% endif %}
                </td>
                <td class="table-data">
                    {% if star.lumin %}
                        {{ star.lumin }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
{% if star.planets %}
<div id="table-container-star-planets">
    <table class="data-table">
        <thead>
            <tr>
                <th class="column-header">
                    🪐Planets🪐
                </th>
            </tr>
        </thead>
        <tbody>
            {% for planet in star.planets %}
            <tr>
                <td class="table-data">
                    <a href="{{ url_for('planet', planet_name=planet.name) }}">{{ planet.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}