{% extends "layout.html" %}

{% block title %}
    Star
{% endblock %}

{% block pagehead %}
    ✨Star {{ star.name }}✨
{% endblock %}

{% block main %}
<div>
    <p>
        {% if star.name == star.system %}
            <b>'{{ star.name }}'</b> is the main star in its system <a href="{{ url_for('system', stellar_body=star.system) }}"><b>'{{ star.name }}'.</b></a>
        {% else %}
            <b>'{{ star.name }}'</b> is found in the <a href="{{ url_for('system', stellar_body=star.system) }}"><b>'{{ star.system }}'</b></a> system.
        {% endif %}
    </p>
</div>

<div class="table-star">
    <table>
        <thead>
            <tr>
                <th colspan="6"><h2>☀️{{ star.name }}☀️</h2></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Star Type</th>
                <th>Spectral Class</th>
                <th>Class heat<br>(0-9)</th>
                <th>Luminosity Class</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ star.full_class_id }}</td>
                <td>
                    {% if star.st_class %}
                        {{ star.st_class}}<br>({{ star.heat }} Kelvin)
                    {% endif %}
                </td>
                <td>
                    {% if star.sub_class %}
                        {{ star.sub_class }}
                    {% endif %}
                </td>
                <td>
                    {% if star.lumin %}
                        {{ star.lumin }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
{% if star.planets %}
<div class="table-star-planets">
    <table>
        <thead>
            <tr>
                <th>
                    <h3>🪐Planets🪐</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for planet in star.planets %}
            <tr>
                <td><a href="{{ url_for('planet', planet_name=planet.name) }}">{{ planet.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}