{% extends "layout.html" %}

{% block title %}
    Statistics
{% endblock %}

{% block main %}
<h1>Statistics</h1>
<div>
    <div>
        <h2 class="padded-top-bottom">Exoplanet System Type by Star Count</h2>
        <img class="img" id="fig-bars" src="{{ url_for('static', filename='exoplanet_systems_by_star_count.png') }}" alt="Exoplanet Systems by Star Count Nested Bar Charts">
        <div>
            <p>(represents all observations of exoplanet systems, nested by how many exoplanets occur in each system and organised by how many stars are in the system.)</p>
            <p><br></p>
            <p>Intended to show the frequency in which exoplanets/multiplanetary systems occur in relation to singular star and binary star systems.</p>
            <p>The same data is shown in two formats: scale and log. 'Scale' helps visualise the actual occurrence of exoplanetary systems whereas 'log' is intended to help visualise small frequencies.</p>
        </div>
    </div>
    <div>
        <h2 class="padded-top-bottom">Most Common Exoplanet System Type by Star Count</h2>
        <p>A collection of pie charts which are independent of one another</p>
        <img class="img" id="fig-pies" src="{{ url_for('static', filename='most_common_exoplanet_systems.png') }}" alt="Most Common Exoplanet Systems Pie Charts">
        <p>(percentile of how many planets are in the occuring exoplanet systems (for each system type by increasing star count))</p>
        <p><br></p>
        <p><b>Pie charts -</b> Each pie chart represents the most common count of planets of occuring exoplanet systems in relation to it's systems star count</p>
        <p><b>Legend -</b> The legend visualises the planet count by color and applies to all pie charts</p>
        <p><br></p>
        <p><b>NOTE:</b> pie charts do not include any exoplanet systems that would fall in less than 1% of the overall data (this is to prevent small data crowding the data: as this is a visual generalisation)</p>
        <p>Additionally note that data that falls in less than the 1% is completely left out of the data.</p>
    </div>
    <div>
        <h2 class="padded-top-bottom">Occurance of Exoplanetary Systems by Star Count</h2>
        <img class="img" id="fig-pie" src="{{ url_for('static', filename='occurance_of_exoplanetary_systems_by_star_system_type.png') }}" alt="Occurance of Exoplanetary Systems by Star System Type Pie Chart">
        <P>(percentile of where exoplanetary systems occur in relation to count of stars present in the system)</P>
        <p><br></p>
    </div>
</div>
{% endblock %}