{% extends "layout.html" %}

{% block title %}
    Statistics
{% endblock %}

{% block pagehead %}
    Statistics
{% endblock %}

{% block main %}
<div>
    <div>
        <h2>Planetary System Type by Star Count</h2>
        <img class="img" id="fig-bars" src="{{ url_for('static', filename='planetary_systems_by_star_count.png') }}" alt="Planetary Systems by Star Count Nested Bar Charts">
        <p>
            (represents all observations of planetary systems, nested by how many planets occur in each<br>
            system and organised by how many stars are in the system.)
        </p>
        <p>
            Intended to show the frequency in which planets/multi-planetary systems<br>
            occur in relation to singular star and binary star systems.<br>
        </p>
        <p>
            The same data is shown in two formats: scale and log. 'Scale' helps visualise the actual occurrence<br>
            of planetary systems whereas 'log' is intended to help visualise small frequencies.
        </p>
    </div>
    <div>
        <h2 class="xlarge-spacing">Most Common Planetary System Type by Star Count</h2>
        <p>A collection of pie charts which are independent of one another</p>
        <img class="img" id="fig-pies" src="{{ url_for('static', filename='most_common_planetary_systems.png') }}" alt="Most Common Planetary Systems Pie Charts">
        <p>(percentile of how many planets occur (for each system type by increasing star count))</p>
        <table class="text-table" id="statstics-text-table">
            <tr class="align-top">
                <td class="text-table-head">
                    Pie charts -
                </td>
                <td class="text-table-txt">
                    Each pie chart represents the most common count of planets of occurring<br>
                    planetary systems in relation to it's systems star count.
                </td>
            </tr>
            <tr class="align-top">
                <td class="text-table-head">                        
                    Legend -
                </td>
                <td class="text-table-txt">                        
                    The legend visualises the planet count by color and applies to all pie charts.
                </td>
            </tr>
        </table>
        <p>
            <b>NOTE:</b> pie charts do not include any planetary system planet count that would occur less than 1% (this is to<br>
            prevent small data crowding the data: as this is a visual generalisation). Additionally note that data that<br>
            falls in less than the 1% is completely left out of the data. So percentages may not add up to 100%.
        </p>
    </div>
    <div>
        <h2 class="xlarge-spacing">Occurrence of Planetary Systems by Star Count</h2>
        <img class="img" id="fig-pie" src="{{ url_for('static', filename='occurrence_of_planetary_systems_by_star_system_type.png') }}" alt="Occurrence of Planetary Systems by Star System Type Pie Chart">
        <P>(percentile of where planetary systems occur in relation to count of stars present in the system)</P>
    </div>
</div>
{% endblock %}