{% extends "layout.html" %}

{% block title %}
    Suggestions
{% endblock %}

{% block pagehead %}
    Suggestions
{% endblock %}

{% block main %}
<div>
    {% if search %}
    <h2>Stellar bodies similar to: "{{ search }}"</h2>
    {% endif %}
</div>

<div class="table-suggestions center-tables">
    {% if suggestions.planets or suggestions.stars or suggestions.systems %}
        {% if suggestions.planets %}
        <table class="suggestions" id="sug-planets">
            <tbody>
                <tr>
                    <td><h2>🪐 Planets 🪐</h2></td>
                </tr>
                {% for planet in suggestions.planets %}
                <tr>
                    <td><a href="{{ url_for('system', stellar_body=planet) }}">{{ planet }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
        {% if suggestions.stars %}
        <table class="suggestions" id="sug-stars">
            <tbody>
                <tr>
                    <td><h2>☀️ Stars ☀️</h2></td>
                </tr>
                {% for star in suggestions.stars %}
                <tr>
                    <td><a href="{{ url_for('system', stellar_body=star) }}">{{ star }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
        {% if suggestions.systems %}
        <table class="suggestions" id="sug-systems">
            <tbody>
                <tr>
                    <td><h2>🌌 Systems 🌌</h2></td>
                </tr>
                {% for system in suggestions.systems %}
                <tr>
                    <td><a href="{{ url_for('system', stellar_body=system) }}">{{ system }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    {% else %}
        <h2>No suggestions available</h2>
    {% endif %}
</div>
{% endblock %}