{% extends "layout.html" %}

{% block title %}
    Suggestions
{% endblock %}

{% block pagehead %}
    Suggestions
{% endblock %}

{% block main %}
<div>
    {% if search %}
    <h2>Stellar bodies similar to: "{{ search }}"</h2>
    {% endif %}
</div>

<div id="table-container-suggestions">
    {% if suggestions.planets or suggestions.stars or suggestions.systems %}
    <table id="suggestion-tables">
        <tr>
            {% if suggestions.planets %}
            <td>
                <table class="suggestion-table" id="sug-planets">
                    <thead>
                        <tr>
                            <th>🪐 Planets 🪐</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for planet in suggestions.planets %}
                        <tr>
                            <td><a href="{{ url_for('system', stellar_body=planet) }}">{{ planet }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            {% endif %}
            {% if suggestions.stars %}
            <td>
                <table class="suggestion-table" id="sug-stars">
                    <thead>
                        <tr>
                            <th>☀️ Stars ☀️</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for star in suggestions.stars %}
                        <tr>
                            <td><a href="{{ url_for('system', stellar_body=star) }}">{{ star }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            {% endif %}
            {% if suggestions.systems %}
            <td>
                <table class="suggestion-table" id="sug-systems">
                    <thead>
                        <tr>
                            <th>🌌 Systems 🌌</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for system in suggestions.systems %}
                        <tr>
                            <td><a href="{{ url_for('system', stellar_body=system) }}">{{ system }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            {% endif %}
        </tr>
    </table>
    {% else %}
        <h2>No suggestions available</h2>
    {% endif %}
</div>
{% endblock %}