{% extends "layout.html" %}

{% block title %}
    System
{% endblock %}

{% block main %}
<h1>
    System
</h1>

<div class="center">
    <table>
        <thead>
            <tr>
                <th colspan="{{ data.size }}"><h2>{{ data.system_name }}</h2></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th></th>
                <th colspan="{{ data.stars|length }}">Stars</th>
                <th colspan="{{ data.planets|length }}">Planets</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>🌌</td>
                {% for star in data.stars %}
                <td>☀️</td>
                {% endfor %}
                {% for planet in data.planets %}
                <td>🪐</td>
                {% endfor %}
            </tr>
            <tr>
                <td class="thick">Name</td>
                {% for star in data.stars %}
                <td>{{ star }}</td>
                {% endfor %}
                {% for planet in data.planets %}
                <td>{{ planet.pl_name }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td class="thick">Host Star</td>
                {% for star in data.stars %}
                <td></td>
                {% endfor %}
                {% for planet in data.planets %}
                <td>{{ planet.hostname }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td class="thick">Circumbinary</td>
                {% for star in data.stars %}
                <td></td>
                {% endfor %}
                {% for planet in data.planets %}
                <td>{{ planet.cb_flag }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td class="thick">Discovery Year<br>(Published)</td>
                {% for star in data.stars %}
                <td></td>
                {% endfor %}
                {% for planet in data.planets %}
                <td>{{ planet.disc_pubdate }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
