<div id="table-container-system-updates">
    <table class="data-table">
        <thead>
            <tr>
                <th colspan="4">✨SYSTEM UPDATES✨</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th></th>
                <th>🌌System Name🌌</th>
                <th>☀️Stars☀️</th>
                <th>🪐Planets🪐</th>
            </tr>
        </thead>
        <tbody>
            {% for system in new_systems %}
            <tr>
                <td>{% for star in system.stars %}☀️{% endfor%}{% for _ in range(system.num_planets) %}🪐{% endfor%}</td>
                <td><a href="{{ url_for('system', stellar_body=system.name) }}">{{ system.name }}</a></td>
                <td>{{ system.stars|length }}</td>
                <td>{{ system.num_planets }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
