<div class="table-systemupdates">
    <table>
        <thead>
            <tr>
                <th colspan="4"><h2>✨SYSTEM UPDATES✨</h2></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th></th>
                <th>🌌System Name🌌</th>
                <th>☀️Star Count☀️</th>
                <th>🪐Planet Count🪐</th>
            </tr>
        </thead>
        <tbody>
            {% for system in new_systems %}
            <tr>
                <td class="nowrap">{% for star in system.stars %}☀️{% endfor%}{% for _ in range(system.num_planets) %}🪐{% endfor%}</td>
                <td class="nowrap"><a href="{{ url_for('system', stellar_body=system.name) }}">{{ system.name }}</a></td>
                <td>{{ system.stars|length }}</td>
                <td>{{ system.num_planets }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
