{% extends "layout.html" %}

{% block title %}
    System
{% endblock %}

{% block main %}
<h1>
    System
</h1>

<div class="table-system center">
    <table>
        <thead>
            <tr>
                <th colspan="{{ size + 2 }}">
                    <h2>
                        🌌{{ system.name }}🌌<br>
                        {% for star in system.stars %}
                        ☀️
                        {% endfor %}
                        {% for planet in system.planets %}
                        🪐
                        {% endfor %}
                    </h2>
                </th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="{{ system.stars|length + 1}}">Stars</th>
                <th colspan="{{ system.planets|length + 1 }}">Planets</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="catagory"></td>
                {% for star in system.stars %}
                <td>☀️</td>
                {% endfor %}
                <td></td>
                {% for planet in system.planets %}
                <td>🪐</td>
                {% endfor %}
            </tr>
            <tr>
                <td class="catagory">Name</td>
                {% for star in system.stars %}
                <td>{{ star.name }}</td>
                {% endfor %}
                <td class="catagory">Name</td>
                {% for planet in system.planets %}
                {% if planet.declassified != 'Yes' %}
                <td><a href="{{ url_for('planet', planet_name=planet.name) }}">{{ planet.name }}</a></td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="catagory">Star Type</td>
                {% for star in system.stars %}
                <td>{{ star.full_class_id }}</td>
                {% endfor %}
                <td class="catagory">Host Star</td>
                {% for planet in system.planets %}
                {% if planet.declassified != 'Yes' %}
                <td>{{ planet.hostname }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="catagory">Spectral Class</td>
                {% for star in system.stars %}
                <td>
                    {% if star.st_class %}
                        {{ star.st_class}}<br>({{ star.heat }} Kelvin)
                    {% endif %}
                </td>
                {% endfor %}
                <td class="catagory">Circumbinary</td>
                {% for planet in system.planets %}
                {% if planet.declassified != 'Yes' %}
                <td>{{ planet.cb_flag }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="catagory">Class heat<br>(0-9)</td>
                {% for star in system.stars %}
                <td>
                    {% if star.sub_class %}
                        {{ star.sub_class }}
                    {% endif %}
                </td>
                {% endfor %}
                <td class="catagory">Discovery Year<br>(Published)</td>
                {% for planet in system.planets %}
                {% if planet.declassified != 'Yes' %}
                <td>{{ planet.disc_pubdate }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="catagory">Luminosity Class</td>
                {% for star in system.stars %}
                <td>
                    {% if star.lumin %}
                        {{ star.lumin }}
                    {% endif %}
                </td>
                {% endfor %}
                <td class="catagory"></td>
                {% for planet in system.planets %}
                {% if planet.declassified != 'Yes' %}
                <td>
                </td>
                {% endif %}
                {% endfor %}     
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
